.item{
    background-color: rgb(255, 255, 255);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

.item__title.active{
    text-decoration: line-through;
    color: orange;
}

.item__title{
  font-size: 1.05rem;
  margin-bottom: 2px;
}

.block{
    display: flex;
    gap: 10px;
}

.cont{
    display: flex;
    gap: 20px;
    align-items: center;
}
.edit__form {
    display: flex;
    gap: 20px;
}

