.list{
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    width: 30%;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
@media (max-width: 1200px) {
    .list {
        width: 40%; /* Изменяем ширину для экранов с разрешением до 1200px */
    }
}

@media (max-width: 992px) {
    .list {
        width: 60%; /* Изменяем ширину для экранов с разрешением до 992px */
    }
}

@media (max-width: 768px) {
    .list {
        width: 80%; /* Изменяем ширину для экранов с разрешением до 768px */
    }
}

@media (max-width: 600px) {
    .list {
        width: 95%; /* Изменяем ширину для маленьких экранов */
    }
}